<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/css/bootstrap-datepicker.css" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js"></script>
    <!--
    
    
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    -->
    
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.js"></script>
    <style>
        .navbar-brand
        {
             font-size: xx-large;
        }
    </style>
    
</head>
    <body>
      <!-- Navigation bar -->
      <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand btn btn-link" href="{% url 'djangoapp:index' %}">Best Cars</a>
                <h5> Add a review for {{short_name }}<h5>
            </div>
            <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}
                <li>
                    <a class="btn btn-link" href="#">{{ user.first_name }}({{ user.username }})</a>
                    <a class="btn btn-link" href="{% url 'djangoapp:logout' %}">Logout</a>
                </li>
                {% else %}
                <li>
                    <form class="form-inline" action="{% url 'djangoapp:login' %}" method="post">
                        {% csrf_token %}
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Username" name="username" >
                            <input type="password" class="form-control" placeholder="Password" name="psw" >
                            <button class="btn btn-primary" type="submit">Login</button>
                            <a class="btn btn-link" href="{% url 'djangoapp:registration' %}">Sign Up</a>
                        </div>
                    </form>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>
   
    <!--Add review form here -->
    {% if user.is_authenticated %}
        <h5>Your feedback is important to us, {{user.username}}. Add your review below.</h5>
        <div class="form-group">
            <form id="questionform" action="{% url 'djangoapp:add_review' dealer_id short_name %}" method="post">
                {% csrf_token %}
                <div class="mb-3">
                    <textarea class="form-control" id="content" name="content" rows="2" required></textarea> 
                </div>
                <div class=form-check>
                    <input class="form-check-input" type="checkbox" name="purchasecheck" id="purchasecheck"data-toggle='collapse' data-target='#vehiclepurchase' aria-expanded="false" aria-controls="exam">
                    <label class="form-check-label" for="purchasecheck">Has purchased the car from {{short_name}} dealership?</label>
                </div>
                <div class=collapse id=vehiclepurchase>
                    <div class="mb-3">
                        <label class="control-label" for="car">Select your purchased vehicle: </label>
                        <select name="car" id="car" class="form-select" required>
                            {% for car in cars %}
                                <option selected value={{car.id}}>{{car.model_name}}-{{car.model_make.make_name}}-{{ car.model_year|date:"Y" }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="mb-3">
                        <label class="control-label" for="purchasedate">Select your purchase date</label>
                        <input class="date-own form-control" style="width: 300px;" type="text" name="purchasedate" id="purchasedate">
                    </div>
                </div>            
                <div>
                    <input class="btn btn-success btn-block" type="submit" value="Submit">
                </div>
            </form>
        </div>                    
    {% else %}
        <h3> You must be logged in to post a review...</h3>
    {% endif %}
    <footer>
        <nav class="navbar navbar-light bg-light">
            <div class="container-fluid">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="btn btn-link" href="{% url 'djangoapp:about' %}">About</a>
                        <a class="btn btn-link" href="{% url 'djangoapp:contact' %}">Contact Us</a>        
                    </li>
                </ul>
            </div>
        </nav>
    </footer>
    </body>
    <script type="text/javascript">
        $('#purchasedate').datepicker({
           format: 'mm/dd/yyyy'
         });
   </script>
</html>